.main {
    margin: 3rem 0;
}

.hero {
    background-image: url(https://unsplash.it/800/600?image=1056);
    height: 400px;
}

.hero--dark {
    background-image: none;
    background-color: #eee;
    height: 600px;
}

.hero--primary {
    background-image: linear-gradient(to bottom right, #8cc63f, #a0d062);
    height: auto;
    padding: 4rem 0 2.5rem;
}

.section:not(:last-child) {
    margin-bottom: 4rem;
}

    .section__title {
        border-bottom: 1px solid #eee;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

.footer {
    border-top: 1px solid #eee;
    padding: 1.5rem 0;
}
