.form__control {
    background-color: $input-background-colour;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    color: $text-colour;
    height: auto;
    line-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:focus {
        outline: none;
    }

    &[disabled] {
        background: #f2f2f2;
        cursor: not-allowed;
    }
}

textarea.form__control,
select[multiple].form__control {
    min-height: 6.5rem;
    overflow-y: hidden;
}

textarea.form__control {
    resize: vertical;
}

select.form__control > option {
    font: inherit;
    height: $line-height;
}

.select-wrapper {
    background-color: $input-background-colour;
    position: relative;
    z-index: 1;

    &:after {
        @include caret('down', $grey, 0.4rem);
        position: absolute;
        right: 0.5rem;
        top: 50%;
        z-index: -1;
    }

    select {
        background-color: transparent;
        appearance: none;
        padding-right: 2rem;

        &::-ms-expand {
            display: none;
        }

        > option {
            background-color: transparent;
        }
    }
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--error {
    .form__error {
        opacity: 1;
    }
}

.form__label {
    color: $text-colour;
    display: block;
    margin-bottom: ($line-height / 2);
}

.form__error {
    color: $state-danger-text;
    display: block;
    font-weight: bold;
    font-size: $font-size-milli;
    opacity: 0;
    transition: all 150ms ease-out;
}

.form--inline {
    .form__control {
        width: auto;
    }
}

.radio,
.checkbox {
    display: inline-block;
    user-select: none;

    &:not(:last-child) {
        margin-bottom: ($line-height / 2);
    }

    &.radio--inline,
    &.checkbox--inline {
        margin-bottom: 0;

        &:not(:last-child) {
            margin-right: ($line-height / 2);
        }
    }

    > input {
        display: none;

        + span {
            display: block;
            position: relative;
            padding-left: 30px;
        }

        + span:before {
            @extend .icon;
            @extend .icon--circle-empty;

            color: $grey;
            font-size: $font-size-mega;
            width: auto;
            top: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            vertical-align: middle;
            display: block;
        }

        &:checked + span:before,
        &:hover + span:before {
            color: $brand-primary;
        }
    }
}

.radio > input {
    + span:before {
        @extend .icon--circle-empty;
    }

    &:checked + span:before {
        @extend .icon--circle-checked;
    }
}

.checkbox > input {
    + span:before {
        @extend .icon--check-empty;
    }

    &:checked + span:before {
        @extend .icon--check;
    }
}

.loading-icon {
    display: none;
}
