.nav,
.nav ul {
    margin: 0;
}

.nav li {
    list-style: none;
}

.nav {
    > li {
        @include resp-min($screen-sm-min) {
            display: inline-block;
        }

        > a {
            display: block;
        }
    }
}

.dropdown {
    position: relative;

    > a:after {
        @include caret(down, $grey, 0.25rem);
        height: inherit;
        position: absolute;
        top: 50%;
        right: 1rem;
    }
}

.dropdown-menu {
    background-color: $super-light-grey;
    display: none;
    padding: ($line-height / 2) 0;
    min-width: 100%;
    z-index: 2000;

    @include resp-min($screen-sm-min) {
        position: absolute;
    }

    .nav__item {
        display: block;

        &.separator {
            background-color: $light-grey;
            height: 1px;
            margin: ($line-height / 2) 0;
        }
    }

    .nav__link {
        padding: ($line-height / 4) $line-height;
    }
}

.dropdown.open .dropdown-menu {
    display: block;
}
