.nav {
    margin: 0;
    list-style: none;
}

    .nav__item {
        display: inline-block;
    }

    .nav__link {
        display: block;
    }

.dropdown {
    position: relative;

    > a:after {
        @include caret(down, $grey, 0.25rem);
        height: inherit;
        position: absolute;
        top: 50%;
        right: 1rem;
    }
}

.dropdown-menu {
    background-color: $super-light-grey;
    display: none;
    padding: ($line-height / 2) 0;
    min-width: 100%;
    z-index: 2000;

    @include resp-min($screen-sm-min) {
        position: absolute;
    }

    .nav__item {
        display: block;

        &.separator {
            background-color: $light-grey;
            height: 1px;
            margin: ($line-height / 2) 0;
        }
    }

    .nav__link {
        padding: ($line-height / 4) $line-height;
    }
}

.dropdown.open .dropdown-menu {
    display: block;
}

.nav--pills {
    @include clearfix();

    > li {
        background-color: $pagination-background-colour;
        border: $pagination-border;
        border-right: 0;
        color: $dark-grey;
        float: left;
        text-align: center;
        line-height: $pagination-size;
        height: $pagination-size;
        width: $pagination-size;

        &.active {
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: white;
        }

        &:first-child {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &:last-child {
            border-right: $pagination-border;
            border-radius: 0 $border-radius $border-radius 0;
        }
    }
}
