$button-background-colour: $super-light-grey;

@mixin button-variant($background-colour, $text-colour) {
    $background-colour-dark: mix(black, $background-colour, 15%);

    background-color: $background-colour;
    box-shadow: 0 2px 0 0 $background-colour-dark;
    color: $text-colour;

    @if ($text-colour == white) {
        text-shadow: 0 1px 0 $background-colour-dark;
    } @else if {
        text-shadow: 0 1px 0 white;
    }

    &:active {
        box-shadow: 0 1px 0 0 $background-colour-dark inset;
    }
}

.button {
    @include button-variant($super-light-grey, $dark-grey);
    border-radius: $border-radius;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:active {
        transform: translateY(2px);
    }

    > .icon {
        margin-right: 0.5rem;
    }
}

.button--danger {
    @include button-variant($brand-danger, white);
}

&.button--primary {
    @include button-variant($brand-primary, white);
}

&.button--kilo {
    font-size: $font-size-kilo;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
}

&.button--milli {
    box-shadow: none;
    font-size: $font-size-milli;
    line-height: 1.5rem;
    height: 1.5rem;
    padding: 0 0.75rem;
    text-shadow: none;
}

.button--block {
    width: 100%;
}

.button--link {
    background-color: transparent;
    box-shadow: none;
    color: $brand-primary;
    text-shadow: none;
}

.loading-icon {
    display: none;
}

.is-loading {
    .loading-icon {
        display: inline-block;
    }
    .loading-icon-hide {
        display: none;
    }
}
