.button {
    background-color: $superLightGrey;
    border-radius: $border-radius;
    border: 0;
    box-shadow: 0 2px 0 0 $lightGrey;
    color: $darkGrey;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    outline: none;
    text-align: center;
    text-shadow: 0 1px 0 $white;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 1px 0 0 rgba($lightGrey, 0.5) inset;
    }

    &.button--primary {
        background-color: $green;
        box-shadow: 0 2px 0 0 $darkGreen;
        color: $white;
        text-shadow: 0 -1px 0 $darkGreen;

        &:active {
            box-shadow: 0 1px 0 0 rgba($darkGreen, 0.5) inset;
        }
    }

    &.button--deca,
    &.button--lg {
        height: 3rem;
        line-height: 3rem;
        padding: 0 2rem;
    }
}
.button--block {
    width: 100%;
}

.button--link {
    background-color: transparent;
    box-shadow: none;
    color: $green;
    text-shadow: none;
}
