@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?42030683');
    src: url('../fonts/fontello.eot?42030683#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?42030683') format('woff2'),
    url('../fonts/fontello.woff?42030683') format('woff'),
    url('../fonts/fontello.ttf?42030683') format('truetype'),
    url('../fonts/fontello.svg?42030683#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    display: inline-block;
    font-family: "fontello";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--loading:before {
    content: '\e800';
    animation: rotate 2s linear infinite;
}
