@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?42030683');
    src: url('../fonts/fontello.eot?42030683#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?42030683') format('woff2'),
    url('../fonts/fontello.woff?42030683') format('woff'),
    url('../fonts/fontello.ttf?42030683') format('truetype'),
    url('../fonts/fontello.svg?42030683#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    display: inline-block;
    font-family: "fontello";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--loading:before {
    content: '\e800';
    animation: rotate 2s linear infinite;
}

.icon--upload:before {
    content: '\e801';
}

.icon--lock:before {
    content: '\e802';
}

.icon--circle-empty:before {
    content: '\e803';
    font-size: 2em;
}

.icon--circle-checked:before {
    content: '\e804';
    font-size: 2em;
}

.icon--check:before {
    content: '\e805';
    font-size: 2em;
}

.icon--check-empty:before {
    content: '\e806';
    font-size: 2em;
}
