$navbar-dark-background-colour: #4F4D54;
$navbar-dark-brand-background-colour: #3E3C42;
$navbar-background-colour: white;
$navbar-border: 1px solid $superLightGrey;

.navbar {
    @include clearfix();
    background-color: $navbar-background-colour;
    border: $navbar-border;
    position: relative;
    z-index: 1000;

    body > & {
        border-width: 0 0 1px;
    }

    .brand {
        @include resp-min($screen-sm-min) {
            float: left;
        }
    }
}

    .navbar > .container-fluid {
        padding: 0;
    }

    .navbar__toggle {
        background-color: transparent;
        box-shadow: none;
        border: 1px solid $green;
        color: $green;
        line-height: ($line-height * 2);
        height: ($line-height * 2);
        padding: 0 1rem;
        position: absolute;
        text-shadow: none;
        top: 0.5rem;
        right: $line-height;

        &.collapsed {
            border-color: $grey;
            color: $grey;
        }

        @include resp-min($screen-sm-min) {
            display: none;
        }
    }

    .navbar__collapse {
        @include clearfix();

        @include resp-min($screen-sm-min) {
            display: block;
        }
    }

    .navbar__nav {
        @include resp-min($screen-sm-min) {
            float: right;
        }

        > li > a,
        > li > .nav > li > a {
            color: $grey;
            padding: ($line-height / 2) $line-height;

            &:hover {
                background-color: $navbar-dark-brand-background-colour;
                color: $darkGreen;
            }
        }

        > li {
            &.dropdown > a {
                padding-right: 2rem;
            }

            @include resp-min($screen-sm-min) {
                > a {
                    line-height: 40px;
                }
            }
        }
    }

.navbar--dark {
    background-color: $navbar-dark-background-colour;
    border-bottom: 0;

    .brand {
        background-color: $navbar-dark-brand-background-colour;
    }

    .navbar__toggle {
        border-color: white;
        color: white;
    }
}

.navbar--vertical {
    .brand,
    .navbar__nav {
        float: none;
    }

    .navbar__nav {
        margin: ($line-height * 2) 0;

        > li,
        > li > .nav > li {
            display: block;
        }

        > li {
            margin: ($line-height / 2) 0;

            &.dropdown > .nav {
                background-color: transparent;
                padding: 0;
                position: relative;
            }

            > a {
                line-height: normal;
            }

            > .nav > li > a {
                color: white;
            }
        }
    }
}

.brand {
    display: block;
    overflow: hidden;
    padding: ($line-height / 2) $line-height;

    > span {
        @include sprite(pod-point-logo, .5);
    }
}
