.navbar {
    @include clearfix();
    background-color: $navbar-background-colour;
    border: $navbar-border;
    position: relative;
    z-index: 1000;

    body > & {
        border-width: 0 0 1px;
    }

    .navbar__brand {
        @include resp-min($screen-sm-min) {
            float: left;
        }
    }
}

    .navbar__brand {
        display: block;
        overflow: hidden;
        padding: ($line-height / 2) $line-height;

        > svg {
            display: block;
        }
    }

    .navbar > .container > .navbar__brand {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar__toggle {
        fill: $grey;
        position: absolute;
        top: ($line-height / 2);
        right: $line-height;

        > .icon {
            display: block;
            margin: 0;
            height: $line-height;
            width: $line-height;
        }

        @include resp-min($screen-sm-min) {
            display: none;
        }
    }

    .navbar__collapse {
        @include clearfix();

        @include resp-min($screen-sm-min) {
            display: block !important;
        }
    }

    .navbar__nav {
        @include resp-min($screen-sm-min) {
            float: left;
        }

        &.navbar__nav--right {
            @include resp-min($screen-sm-min) {
                float: right;
            }
        }
    }

    .nav__item {
        &.dropdown > .nav__link {
            padding-right: 2rem;
        }
    }

    .nav__link {
        color: $grey;
        padding: ($line-height / 2) $line-height;

        &:hover {
            background-color: $navbar-hover-background-colour;
        }
    }

.navbar--dark {
    background-color: $navbar-dark-background-colour;
    border-bottom: 0;

    .navbar__brand {
        background-color: $navbar-dark-brand-background-colour;
    }

    .navbar__toggle > .icon {
        fill: white;
    }

    .nav__link:hover {
        background-color: $navbar-dark-brand-background-colour;
        color: $brand-primary;
    }
}

.navbar--vertical {
    .navbar__brand,
    .navbar__nav {
        float: none;
    }

    .navbar__nav {
        margin: $line-height 0;

        > .nav__item {
            margin: ($line-height / 2) 0;

            > .nav {
                margin-top: ($line-height / 2);

                .nav__link {
                    color: white;
                }
            }
        }
    }

    .dropdown > a:after {
        top: $line-height;
    }

    .dropdown-menu {
        background-color: transparent;
        padding: 0;
        position: relative;

        .nav__link {
            padding: ($line-height / 2) $line-height;
        }
    }

    .nav__item {
        display: block;
    }
}
