$panel-spacing: $line-height;

.panel {
    background-color: white;
    border: 1px solid $superLightGrey;
    border-radius: $border-radius;
    padding: $panel-spacing;
    padding-bottom: 0;
}

    .panel__header {
        border-bottom: 1px solid $superLightGrey;
        margin-bottom: $panel-spacing;
    }

    .panel__header, .panel__subtitle, .panel__footer {
        text-align: center;
        margin: 0 ($panel-spacing * -1);
    }

    .panel__header {
        margin-top: ($panel-spacing * -1);
        margin-bottom: $panel-spacing;
    }

    .panel__title {
        margin-bottom: $panel-spacing;
        font-size: 1.25rem;
    }

    .panel__subtitle {
        font-size: 1rem;
        line-height: $line-height * 1.75;
    }

    .panel__footer {
        padding-top: $panel-spacing;
        border-top: 1px solid $superLightGrey;

        .button {
            margin-bottom: $panel-spacing;
        }
    }
