$panel-spacing: $line-height;
$panel-border: 1px solid $superLightGrey;

.panel {
    background-color: white;
    border: 1px solid $superLightGrey;
    border-radius: $border-radius;
    padding: $panel-spacing;
    padding-bottom: 0;
}

    .panel__header,
    .panel__body,
    .panel__footer {
        margin: 0 ($panel-spacing * -1);
        padding: $panel-spacing;
        text-align: center;
    }

    .panel__header {
        border-bottom: $panel-border;
        margin-top: ($panel-spacing * -1);
    }

    .panel__title {
        margin-bottom: 0;
        font-size: 1.25rem;
    }

    .panel__body {
        padding-bottom: 0;

        > ul,
        > ol {
            text-align: left;
        }
    }

    .panel__subtitle {
        font-size: 1rem;
    }

    .panel__footer {
        border-top: $panel-border;
    }
