$brand-primary: #8CC63F;
$brand-primary-dark: mix(black, $brand-primary, 15%);

$red: #E9583A;
$blue: #3AA8E9;
$yellow: #ffe341;

$super-light-grey: #eee;
$light-grey: #CACACA;
$grey: #888;
$dark-grey: #333;
$super-dark-grey: #222;

$white: #fff;
$off-white: #f9f9f9;

$body-bg: white;

$text-colour: $super-dark-grey;
$link-colour: $brand-primary;
$table-border-colour: $light-grey;
$thumbnail-caption-colour: $text-color;
$label-colour: $body-bg;
$label-link-hover-colour: $body-bg;
