$label-colour: $body-bg;
$label-link-hover-colour: $body-bg;

$label-default-bg: $light-grey;
$label-primary-bg: $brand-primary;
$label-success-bg: $brand-success;
$label-info-bg: $brand-info;
$label-warning-bg: $brand-warning;
$label-danger-bg: $brand-danger;
