$border-radius: 0.25rem;

$line-height: 1.5rem;

$base-font-size: 17;

$sizes: (
    micro: 0.777,
    milli: 0.888,
    kilo: 1.111,
    mega: 1.333,
    giga: 2
);

$font-size-micro: map_get($sizes, 'micro') * 1rem;
$font-size-milli: map_get($sizes, 'milli') * 1rem;
$font-size-kilo: map_get($sizes, 'kilo') * 1rem;
$font-size-mega: map_get($sizes, 'mega') * 1rem;
$font-size-giga: map_get($sizes, 'giga') * 1rem;

$global: mainNavShade, mainNav, mainNavToggle, pageCta;
