$navbar-dark-background-colour: #4F4D54;
$navbar-dark-brand-background-colour: #3E3C42;
$navbar-hover-background-colour: $super-light-grey;
$navbar-background-colour: white;
$navbar-border: 1px solid $super-light-grey;
$navbar-brand-height: 40px;
