$table-bg: $body-bg;
$table-border-colour: $light-grey;
$table-cell-padding: ($line-height / 4);
$text-muted: $grey;
$line-height-computed: $line-height;
$table-border-color: $light-grey;
$table-condensed-cell-padding: $line-height;
$table-bg-accent: $off-white;

$table-bg-hover: mix($off-white, black, 10%);
$table-bg-active: $table-bg-hover;

$table-border-color: $super-light-grey;
