$thumbnail-padding:           ($line-height / 4);
$thumbnail-bg:                $body-bg;
$thumbnail-border:            $super-light-grey;
$thumbnail-border-radius:     $border-radius;

$thumbnail-caption-colour: $text-colour;
$thumbnail-caption-padding:   ($line-height / 2);
