.form__control {
    background-color: white;
    border: 1px solid $lightGrey;
    border-radius: $border-radius;
    color: $grey;
    @include font-size($scale-hecto);
    height: 2.5rem;
    line-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:focus {
        outline: none;
    }

    &[disabled] {
        background: $superLightGrey;
    }
}

textarea.form__control {
    min-height: 7.5rem;
    overflow-y: hidden;
    resize: vertical;
}

select[multiple].form__control {
    height: auto;
}

.select-wrapper {
    position: relative;

    &:after {
        @include caret(down, $grey, 0.4rem);
        position: absolute;
        right: 0.5rem;
        top: 50%;
    }

    select {
        appearance: none;
        padding-right: 2rem;

        &::-ms-expand {
            display: none;
        }

        > option {
            background-color: white;
        }
    }
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--error {
    .form__error {
        opacity: 1;
    }
}

.form__label {
    color: $grey;
    display: block;
    @include font-size($scale-hecto);
    margin-bottom: 0.5rem;
}

.radio,
.checkbox {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    > input {
        left: 0;
        position: absolute;
        top: 0.2rem
    }
}

.form__error {
    color: $red;
    opacity: 0;
    margin-top: 10px;
    transition: all 150ms ease-out;
}
