.form__control {
    background-color: white;
    border: 1px solid $lightGrey;
    border-radius: $border-radius;
    color: $grey;
    @include font-size($scale-hecto);
    height: 2.5rem;
    line-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}

textarea.form__control {
    min-height: 7.5rem;
    overflow-y: hidden;
    resize: vertical;
}

.select-wrapper {
    position: relative;

    &:after {
        @include caret(down, $grey, 0.5rem);
        position: absolute;
        right: 0.5rem;
        top: 50%;
    }

    select {
        appearance: none;

        > option {
            background-color: white;
        }
    }
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--error {
    .form__error {
        opacity: 1;
    }
}

.form__label {
    color: $grey;
    display: block;
    @include font-size($scale-hecto);
    margin-bottom: 0.5rem;
}

.radio,
.checkbox {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    > input {
        left: 0;
        position: absolute;
        top: 0.2rem
    }
}

.form__error {
    color: $red;
    opacity: 0;
    margin-top: 10px;
    transition: all 150ms ease-out;
}

.button {
    background-color: $superLightGrey;
    border-radius: $border-radius;
    border: 0;
    box-shadow: 0 2px 0 0 $lightGrey;
    color: $darkGrey;
    display: inline-block;
    @include font-size($scale-deca);
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    outline: none;
    text-shadow: 0 1px 0 $white;
    text-decoration: none;
    white-space: nowrap;

    &:active {
        transform: translateY(2px);
        box-shadow: 0 1px 0 0 rgba($lightGrey, 0.5) inset;
    }

    &.button--primary {
        background-color: $green;
        box-shadow: 0 2px 0 0 $darkGreen;
        color: $white;
        text-shadow: 0 -1px 0 $darkGreen;

        &:active {
            box-shadow: 0 1px 0 0 rgba($darkGreen, 0.5) inset;
        }
    }
}
