$input-background-colour: white;

.form__control {
    background-color: $input-background-colour;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    color: $grey;
    height: auto;
    line-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:focus {
        outline: none;
    }

    &[disabled] {
        background: #f2f2f2;
        cursor: not-allowed;
    }
}

textarea.form__control,
select[multiple].form__control {
    min-height: 6.5rem;
    overflow-y: hidden;
}

textarea.form__control {
    resize: vertical;
}

select.form__control > option {
    font: inherit;
    height: $line-height;
}

.select-wrapper {
    background-color: $input-background-colour;
    position: relative;
    z-index: 1;

    &:after {
        @include caret('down', $grey, 0.4rem);
        position: absolute;
        right: 0.5rem;
        top: 50%;
        z-index: -1;
    }

    select {
        background-color: transparent;
        appearance: none;
        padding-right: 2rem;

        &::-ms-expand {
            display: none;
        }

        > option {
            background-color: transparent;
        }
    }
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--error {
    .form__error {
        opacity: 1;
    }
}

.form__label {
    color: $grey;
    display: block;
    margin-bottom: ($line-height / 2);
}

.radio,
.checkbox {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    > input {
        left: 0;
        position: absolute;
        top: 0.2rem
    }
}

.form__error {
    color: $red;
    font-weight: bold;
    font-size: 0.875rem;
    opacity: 0;
    margin-top: 10px;
    transition: all 150ms ease-out;
}

.form--inline {
    .form__control {
        width: auto;
    }
}

.loading-icon {
    display: none;
}
