body {
    background-color: $body-bg;
    color: $text-colour;
    font-family: 'myriad-pro', Helvetica, sans-serif;
    font-size: ($font-size-base / 16) * 1rem;
    line-height: $line-height;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, hr, address, pre, blockquote {
    margin-bottom: $line-height;
}

