html,
body {
    height: 100%;
}

body {
    background-color: $body-bg;
    color: $text-colour;
    font-family: 'myriad-pro', Helvetica, sans-serif;
    font-size: ($font-size-base / 16) * 1rem;
    line-height: $line-height;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, hr, address, pre {
    margin-bottom: $line-height;
}

ul,
ol {
    margin-left: 2rem;

    &.unstyled {
        margin-left: 0;
        list-style: none;
    }
}

address {
    font-style: normal;
}

a {
    color: $link-colour;
    text-decoration: none;

    &:focus {
        text-decoration: none;
        text-decoration-style: dashed;
        outline: none;
    }
}

hr {
    background-color: $light-grey;
    color: $light-grey;
    height: 1px;
}

em {
    font-style: italic;
}

strong,
dt {
    font-weight: bold;
}

pre {
    padding-left: $line-height;
}
