table {
    background-color: $table-bg;
    border-collapse: collapse;
}

caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
    text-align: left;
}

th {
    text-align: left;
}
