ul,
ol {
    margin-left: $line-height;

    &.unstyled {
        margin-left: 0;
        list-style: none;
    }
}

address {
    font-style: normal;
}

a {
    color: $link-colour;
    text-decoration: none;

    &:focus {
        text-decoration: none;
        text-decoration-style: dashed;
        outline: none;
    }
}

hr {
    background-color: $light-grey;
    color: $light-grey;
    height: 1px;
}

em {
    font-style: italic;
}

strong,
dt {
    font-weight: bold;
}

del,
s {
    text-decoration: line-through;
}

sub,
sup {
    position: relative;
}

sub {
    top: .15em;
    vertical-align: baseline;
}

sup {
    top: -.15em;
    vertical-align: top;
}

ins,
u {
    text-decoration: underline;
}

pre {
    padding-left: $line-height;
}

h1,
.h1 {
    font-size: $font-size-giga;
    line-height: ($line-height-base * $font-size-giga);
}

h2,
.h2 {
    font-size: $font-size-mega;
    line-height: ($line-height-base * $font-size-mega);
}

h3,
.h3 {
    font-size: $font-size-kilo;
    line-height: ($line-height-base * $font-size-kilo);
}

h4,
.h4 {
    font-size: 1rem;
}

/**
 * Alignment
 */

.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

/**
 * Typography
 */

.text--lead {
    font-size: $font-size-mega;
    line-height: ($line-height * 1.25);
}

.text--primary {
  color: $brand-primary;
}

.text--warning {
  color: $state-warning-text;
}

.text--danger {
  color: $state-danger-text;
}

/**
 * Blockquote
 */

blockquote {
    font-size: $font-size-mega;
    line-height: ($line-height-base);
    padding-left: ($line-height * 2.5);
    position: relative;
    text-align: left;

    &:before {
        color: $light-grey;
        content: '“';
        font-size: 8rem;
        line-height: 5.5rem;
        left: 0;
        position: absolute;
        top: 0;
    }

    > cite {
        color: $grey;
        display: block;
        font-size: $font-size-kilo;
        margin-top: $line-height;
        text-align: right;
    }
}
