$green: #8CC63F;
$darkGreen: #5D9712;

$red: #E9583A;
$blue: #3AA8E9;
$yellow: #ffe341;

$superLightGrey: #dedede;
$lightGrey: #CACACA;
$grey: #888;
$darkGrey: #333;
$superDarkGrey: #222;

$white: #fff;
