$border-radius: 0.25rem;

$line-height: 1.5rem;

$base-font-size: 18;

$font-size-milli: (16 / $base-font-size) * 1rem;
$font-size-kilo: (20 / $base-font-size) * 1rem;
$font-size-mega: (24 / $base-font-size) * 1rem;
$font-size-giga: (36 / $base-font-size) * 1rem;
