@mixin button-variant($background-colour, $text-colour) {
    $background-colour-dark: mix(black, $background-colour, 15%);

    background-color: $background-colour;
    box-shadow: 0 2px 0 0 $background-colour-dark;
    color: $text-colour;

    @if ($text-colour == white) {
        text-shadow: 0 1px 0 $background-colour-dark;
    } @else {
        text-shadow: 0 1px 0 white;
    }

    &:active,
    &.active {
        box-shadow: 0 1px 0 0 $background-colour-dark inset;
    }
}
